################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/SharpTracer/v16/Server/sqlite3
/Source/SharpTracerRenderView/obj/Debug
/Source/SharpTracerRenderView/bin/Debug
/Source/.vs/SharpTracer/v16
